    .center{
    	text-align:center;
    }

    .centerShadow{
    	text-align:center;
    	text-shadow:5px 5px 10px white;
    }

    .colorY{
    color:#f4af1b;
    }

    .border{
    	border-style:solid;
    	border-width:1px;
    	border-radius:20px;
    	border-spacing:100px;
    }

    .footer{
    	position: down;
    	left: 0;
    	bottom: 0;
    	width: 100%;
    	text-align: center;
    }

    .nice{
    	color:white;
    	background-color:#00154f;
    	background-image: linear-gradient(#00154f,#002382,#00154f);
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	font-family:Arial;
    }

    .button:hover{
    	color:#dcdcdc;
    }

    .text{
    	background-image: linear-gradient(#00154f,#002382,#00154f);
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	color:white;
    }

    .button{
    	background-color:#002382;
    	color:white;
    	box-shadow:1px 2px #000a24;
      border-color:white;
    }

    .divr{
      background-image: linear-gradient(#00154f,#002382,#00154f);
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	color:#f4af1b;
      margin:0 auto;
      width:10px;
      float:right;
      height: 1200px;
      width: 5%;
    }

    .divl{
      background-image: linear-gradient(#00154f,#002382,#00154f);
      background-repeat: no-repeat;
      background-attachment: fixed;
      color:#f4af1b;
      margin: 0 auto;
      margin-right:5px;
      width:5px;
      float:left;
      height: 1200px;
      width: 5%;
      padding-right: 10px;
    }
